<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Senla" type="Senla.Server.Configuration.SenlaSection, Senla.Server"/>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <Senla 
    UseSocketThreadForHandlers="false"
    SocketThreadBreakoutIntervalMs="50"
    HandlerThreadBreakoutIntervalMs="50">
    <Applications>
      
      <!--Custom application add settings here-->
      <App Name="Test"
           BaseDir="Test"
           Assembly="Senla.Test"
           Type="Senla.Test.Test">
      
        <Settings
          MaximunMessageSize="51200"
          TcpMaxIdleTime="15000"
          TcpMinIdleTime="15000">
          <TcpEndpoint
            Port="7714"
            Address="0.0.0.0">
          </TcpEndpoint>

          <UdpEndpoint
            Port="7716"
            Address="0.0.0.0">
          </UdpEndpoint>

          <WebSocketEndpoint
            Port="807"
            Address="0.0.0.0">
          </WebSocketEndpoint>
        </Settings>
      </App>
    
      <!--End custom application setting-->
    </Applications>
  </Senla>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            
            #### HERE WE ARE CONFIGURING LOG LEVELS
            log-config-on-start = on
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            
            #### THIS CONFIG SECTION WILL BE REFERENCED AS AKKA.ACTOR
            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              debug {
                  receive = on
                  autoreceive = on
                  lifecycle = on
                  event-stream = on
                  unhandled = on
              }
            }
            
            #### HERE WE'RE CONFIGURING THE AKKA.REMOTE MODULE
            remote {
              helios.tcp {
                  transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
                  #applied-adapters = []
                  transport-protocol = tcp
                  port = 8091
                  hostname = "127.0.0.1"
              }
            log-remote-lifecycle-events = INFO
          }
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>